<a href="https://colab.research.google.com/github/rsonar821/Classification-Capstone-Project/blob/main/Cardiovascular_Risk_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_theme(style="darkgrid")
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/data_cardiovascular_risk.csv").drop('id', axis=1)

# **Data understanding and Analysis**

In [4]:
df.head()

,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1
1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0
2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0
3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1
4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0

In [5]:
df.tail()

,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
3385,60,1.0,F,NO,0.0,0.0,0,0,0,261.0,123.5,79.0,29.28,70.0,103.0,0
3386,46,1.0,F,NO,0.0,0.0,0,0,0,199.0,102.0,56.0,21.96,80.0,84.0,0
3387,44,3.0,M,YES,3.0,0.0,0,1,0,352.0,164.0,119.0,28.92,73.0,72.0,1
3388,60,1.0,M,NO,0.0,NaN,0,1,0,191.0,167.0,105.0,23.01,80.0,85.0,0
3389,54,3.0,F,NO,0.0,0.0,0,0,0,288.0,124.0,77.0,29.88,79.0,92.0,0

In [6]:
df.columns

Index(['age', 'education', 'sex', 'is_smoking', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3390 entries, 0 to 3389
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              3390 non-null   int64
 1   education        3303 non-null   float64
 2   sex              3390 non-null   object
 3   is_smoking       3390 non-null   object
 4   cigsPerDay       3368 non-null   float64
 5   BPMeds           3346 non-null   float64
 6   prevalentStroke  3390 non-null   int64
 7   prevalentHyp     3390 non-null   int64
 8   diabetes         3390 non-null   int64
 9   totChol          3352 non-null   float64
 10  sysBP            3390 non-null   float64
 11  diaBP            3390 non-null   float64
 12  BMI              3376 non-null   float64
 13  heartRate        3389 non-null   float64
 14  glucose          3086 non-null   float64
 15  TenYearCHD       3390 non-null   int64
dtypes: float64(9), int64(5), object(2)
memory usage: 423.9+ KB

In [8]:
df.isnull().sum()

age                  0
education           87
sex                  0
is_smoking           0
cigsPerDay          22
BPMeds              44
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             38
sysBP                0
diaBP                0
BMI                 14
heartRate            1
glucose            304
TenYearCHD           0
dtype: int64

In [9]:
columns = df.columns
for column in columns:
  print(column,'\n')
  print(df[column].unique())
  print("---"*50)

age

[64 36 46 50 61 41 55 53 43 44 58 51 56 42 38 63 35 54 62 47 34 39 59 45
 49 60 40 52 48 37 65 57 68 67 33 66 69 70 32]
------------------------------------------------------------------------------------------------------------------------------------------------------
education

[ 2.  4.  1.  3. nan]
------------------------------------------------------------------------------------------------------------------------------------------------------
sex

['F' 'M']
------------------------------------------------------------------------------------------------------------------------------------------------------
is_smoking

['YES' 'NO']
------------------------------------------------------------------------------------------------------------------------------------------------------
cigsPerDay

[ 3.  0. 10. 20. 30. 35. 40. 15.  9. 60. 17. 25.  5. 43.  7. 50. 19. 18.
  1. 45.  2.  6. nan 11.  8.  4. 14. 16. 23. 13. 12. 70. 38.]
------------------------------------------------------------------------------------------------------------------------------------------------------
BPMeds

[ 0. nan  1.]
------------------------------------------------------------------------------------------------------------------------------------------------------
prevalentStroke

[0 1]
------------------------------------------------------------------------------------------------------------------------------------------------------
prevalentHyp

[0 1]
------------------------------------------------------------------------------------------------------------------------------------------------------
diabetes

[0 1]
------------------------------------------------------------------------------------------------------------------------------------------------------
totChol

[221. 212. 250. 233. 241. 272. 238. 295. 220. 326.  nan 210. 213. 227.
 188. 240. 257. 267. 232. 199. 175. 164. 226. 248. 245. 279. 273. 252.
 198. 266. 216. 237. 193. 293. 180. 206. 215. 208. 262. 270. 292. 346.
 202. 340. 334. 351. 235. 243. 196. 275. 186. 190. 268. 234. 264. 156.
 260. 225. 183. 246. 174. 288. 254. 150. 211. 161. 274. 214. 195. 165.
 302. 265. 251. 205. 209. 258. 222. 247. 189. 173. 281. 382. 181. 200.
 244. 218. 261. 229. 291. 312. 170. 176. 290. 204. 239. 162. 314. 194.
 271. 313. 305. 285. 169. 224. 201. 185. 307. 179. 280. 219. 391. 300.
 253. 345. 278. 282. 255. 191. 439. 327. 287. 236. 332. 207. 230. 155.
 335. 325. 223. 231. 197. 184. 310. 157. 228. 166. 303. 320. 163. 259.
 178. 137. 217. 342. 328. 168. 167. 299. 304. 152. 289. 308. 192. 160.
 296. 203. 154. 600. 187. 311. 263. 318. 309. 172. 242. 350. 356. 317.
 696. 315. 269. 171. 177. 249. 256. 344. 286. 284. 322. 333. 158. 294.
 145. 361. 276. 277. 133. 283. 464. 298. 124. 297. 182. 135. 362. 321.
 390. 319. 360. 323. 306. 329. 352. 366. 339. 144. 148. 370. 372. 365.
 331. 330. 113. 143. 159. 392. 353. 367. 316. 153. 398. 149. 453. 119.
 301. 358. 363. 129. 107. 336. 354. 373. 410. 380. 140. 432. 355. 337.
 126. 338. 364.]
------------------------------------------------------------------------------------------------------------------------------------------------------
sysBP

[148.  168.  116.  158.  136.5 182.  232.  102.  126.  144.  185.  138.
  96.  146.5 160.  146.  163.  129.  122.5 130.  141.  142.  113.  172.5
 107.  105.  122.  155.  134.  152.  142.5 149.  106.5 186.5 114.  104.
 101.  112.  165.  131.  111.  133.  109.  121.5 120.  178.  150.  152.5
 193.  151.  118.5 125.  110.  136.  113.5 127.  115.  108.  103.  124.
 135.  118.  132.  128.  100.  115.5 127.5 123.  174.5 129.5 117.  117.5
 147.  177.5 109.5 157.5 106.  112.5 107.5 137.  124.5 192.  207.  119.
 179.5 157.  176.   90.  140.  159.  150.5 202.  116.5 108.5 158.5 169.
 121.   95.  120.5 156.  145.  141.5 143.5 119.5 131.5 125.5 180.  105.5
 126.5 153.  154.  182.5 166.5 175.  170.  143.   99.  244.  161.5 100.5
 132.5 139.  186.   94.  172.  149.5 137.5 191.  191.5 159.5 160.5 154.5
 164.5 166.  195.  102.5 145.5 185.5  98.  128.5 147.5  97.  190.  212.
 156.5 130.5  96.5 144.5 174.  114.5 167.  210.  202.5 140.5 151.5 148.5
 215.  161.  153.5 180.5 184.  196.  167.5 248.  181.  139.5 135.5 208.
 168.5 134.5  99.5 173.  194.  183.  155.5 204.   83.5 188.  214.  188.5
 123.5 187.  192.5 177.  197.  111.5 162.  164.  230.  169.5 138.5  93.5
 205.  200.  179.  199.   93.  162.5 133.5 189.  171.  198.  163.5 209.
 184.5 295.  235.  197.5 101.5 206.   97.5 110.5 243.  205.5 175.5 187.5
  95.5  85.  220.  217.  213.   92.5 207.5 171.5 104.5  85.5]
------------------------------------------------------------------------------------------------------------------------------------------------------
diaBP

[ 85.   98.   71.   88.  121.  136.   68.   78.   81.   86.5  62.   97.
 120.   89.  105.   93.   91.   92.   86.   73.   70.   74.5  84.   80.
  82.   70.5  74.   63.   65.   76.   64.  106.   75.5  79.5  89.5  83.
  94.   97.5  75.   57.   90.   87.  103.   96.  104.   82.5  80.5  66.5
 100.   72.   99.   67.5  77.5  85.5  95.   79.   77.   69.   72.5  73.5
 101.5  62.5  96.5  68.5 102.  122.5 114.   60.   84.5 124.  100.5  59.
  88.5 108.   66.   67.   95.5 107.   78.5 101.   92.5  81.5  91.5  98.5
  93.5 109.5  61.   76.5 115.5  87.5  83.5 109.   64.5 104.5  94.5 110.
  55.  102.5  59.5 107.5 130.   61.5 129.   65.5  60.5  58.   48.  106.5
 116.  118.  111.  115.  113.  117.  103.5  71.5  50.  105.5 112.  135.
  54.  112.5 125.   52.  133.  123.  128.  117.5  90.5  63.5  69.5 142.5
 110.5  56.   57.5  53.  124.5 119.  108.5  99.5 127.5  51. ]
------------------------------------------------------------------------------------------------------------------------------------------------------
BMI

[  nan 29.77 20.35 ... 29.19 19.71 31.09]
------------------------------------------------------------------------------------------------------------------------------------------------------
heartRate

[ 90.  72.  88.  68.  70.  85.  75.  60.  86.  80.  74. 100.  89.  92.
  82.  87.  58.  79.  78.  76.  69.  59.  67.  50.  73.  66.  65.  62.
 110.  83.  64.  63.  96.  55.  77. 112.  84.  95.  61. 120.  93.  94.
 104.  52.  56.  98. 106.  48.  54.  81. 115. 103.  71. 107.  57. 143.
  91.  45. 102. 108.  53.  47.  nan 125. 105. 122.  51. 140.  97.]
------------------------------------------------------------------------------------------------------------------------------------------------------
glucose

[ 80.  75.  94.  77.  65.  79.  63.  nan  87.  67.  85. 132.  76. 100.
  70.  60.  73.  81.  68.  66.  78.  96.  72.  61.  69. 103.  92. 105.
  93.  89.  64.  83. 170.  57.  58.  86.  99. 107.  55.  90. 177.  71.
 118.  59.  74.  84.  82.  95. 120. 173.  91. 102. 163.  88.  62. 205.
  97. 115.  98. 268. 104. 137. 106. 348. 110. 122. 108. 255. 140. 124.
 244. 294. 112. 113. 254. 116.  52.  50. 114. 127.  56. 135.  45. 206.
  53. 101. 117. 126. 131. 394. 123. 270. 320. 129. 142.  54. 235.  40.
 150. 136. 191.  44. 119. 109. 121.  43. 256. 145.  47. 297. 166. 172.
  48. 111. 215. 216. 368. 155. 148. 147. 223. 225. 332. 210. 186. 386.
 248. 193. 125. 167. 183. 260. 274.]
------------------------------------------------------------------------------------------------------------------------------------------------------
TenYearCHD

[1 0]
------------------------------------------------------------------------------------------------------------------------------------------------------

In [10]:
df.describe(include='all')

,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,3390.000000,3303.000000,3390,3390,3368.000000,3346.000000,3390.000000,3390.000000,3390.000000,3352.000000,3390.00000,3390.000000,3376.000000,3389.000000,3086.000000,3390.000000
unique,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,F,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,1923,1703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,49.542183,1.970936,NaN,NaN,9.069477,0.029886,0.006490,0.315339,0.025664,237.074284,132.60118,82.883038,25.794964,75.977279,82.086520,0.150737
std,8.592878,1.019081,NaN,NaN,11.879078,0.170299,0.080309,0.464719,0.158153,45.247430,22.29203,12.023581,4.115449,11.971868,24.244753,0.357846
min,32.000000,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.50000,48.000000,15.960000,45.000000,40.000000,0.000000
25%,42.000000,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.00000,74.500000,23.020000,68.000000,71.000000,0.000000
50%,49.000000,2.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.50000,82.000000,25.380000,75.000000,78.000000,0.000000
75%,56.000000,3.000000,NaN,NaN,20.000000,0.000000,0.000000,1.000000,0.000000,264.000000,144.00000,90.000000,28.040000,83.000000,87.000000,0.000000
max,70.000000,4.000000,NaN,NaN,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.00000,142.500000,56.800000,143.000000,394.000000,1.000000